[Unit] 
Description=corenlp_french
[Service] 
Type=simple
WorkingDirectory=/home/frank/localInstall/stanford-corenlp
ExecStart=/usr/bin/java -Xmx6g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -annotators tokenize,ssplit,pos,depparse,ner -serverProperties StanfordCoreNLP-french.properties -port 9003 -timeout 150000
[Install] 
WantedBy=multi-user.target
