[Unit] 
Description=corenlp_german 
[Service] 
Type=simple
WorkingDirectory=/home/frank/localInstall/stanford-corenlp
ExecStart=/usr/bin/java -Xmx6g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -annotators tokenize,ssplit,pos,depparse  -serverProperties StanfordCoreNLP-german.properties -port 9001 -timeout 150000
[Install] 
WantedBy=multi-user.target
